@model Laboratorio1.Models.Lote

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lote</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Producto.NombreProducto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroLote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroLote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaVencimientoLote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaVencimientoLote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoLote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoLote)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LoteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
